/********************************************************************************/
/* EXPERIMENTS
/********************************************************************************/



.experiment {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.experiment.open {
	z-index: 3;
	opacity: 1;
}


.experiment-menu {
	width: 400px;
	min-height: 100%;
	float: left;
	padding: 120px 40px 60px 60px;
	background: #3D9970;
	color: #FFF;
	box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.5);
}




/* Parameters form */
.parameters-form {
}
/***/

/********************************************************************************/


