/********************************************************************************/
/* RESET
/********************************************************************************/

/* Reset (Eric Meyer's reset + more) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, /*sub, sup,*/ tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
:focus { 
	outline:0; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***/



/********************************************************************************/
/* HTML Elements
/********************************************************************************/

html {
	height: 100%;
}
body {
	height: 100%;
	background: #fefefe;
	color: #020202;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	overflow-x: hidden;
}

h1 {
	font-size: 2em;
	line-height: 1em;
}

a {
	color: inherit;
}
a,
a:hover, 
a:active, 
a:focus {
	text-decoration: none;
}
p {
	margin-bottom: 0.6667em;
	line-height: 1.3333em;
}
input {
	outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
textarea{ 
	resize: none; 
	overflow: hidden; 
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}
/********************************************************************************/


/********************************************************************************/
/* Screen widths in responsive design
/********************************************************************************/
@media only screen and (max-width : 479px) {	/* xxs */
}
@media only screen and (min-width : 480px) {	/* xs */
}
@media only screen and (min-width : 768px) {	/* sm */
}
@media only screen and (min-width : 992px) {	/* md */
}
@media only screen and (min-width : 1200px) {	/* lg */
}
@media only screen and (min-width : 1600px) {	/* xl */
}
@media only screen and (min-width : 1921px) {	/* xxl */
}
/********************************************************************************/






/********************************************************************************/
/* EXPERIMENT SETTINGS
/********************************************************************************/

/* Settings */
#settings-container {
	width: 100%;
	min-height: 100%;
	margin-left: 0;
	margin-right: auto;
	padding: 40px;
	background: hsl(226, 73%, 53%);
	color: rgb(3, 0, 0);
	box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.5);
	line-height: 1.3333em;
}


#parameters-form {
	border-top: 1px solid transparent;
}



.parameters-group {
	margin-top: 50px;
}
.parameters-group .help-link {
	float: right;
	margin-left: 2em;
	line-height: inherit;
}



.parameters-heading {
	margin: 20px -15px 5px -15px;
	padding: 10px;
	font-size: 1.3333em;
	background: #5a79e0;
	text-align: center;
}
.parameters-group-heading {
	margin: 15px 0;
}



.parameters-group .dataset-select {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	background: #5a79e0;
}

/***/







/********************************************************************************/
/* GRAPHS
/********************************************************************************/



/* Graphs */
#graphs-container {
	
	-webkit-transform: translateZ(0);
	top: 0;
	bottom: 0;
	
	padding: 20px 20px 80px 20px;
}
#graph {
	width: 100%;
	
	border: 1px solid #000;
}


#graph-loader {
	position: absolute;
	z-index: -99;
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fefefe url('../img/gears.gif') 50% 50% no-repeat;
	opacity: 0;
	-webkit-transition: opacity 0.35s ease, z-index 0s ease 0.4s;
	   -moz-transition: opacity 0.35s ease, z-index 0s ease 0.4s;
		-ms-transition: opacity 0.35s ease, z-index 0s ease 0.4s;
		 -o-transition: opacity 0.35s ease, z-index 0s ease 0.4s;
			transition: opacity 0.35s ease, z-index 0s ease 0.4s;
}
#graph-loader.on {
	z-index: 99;
	opacity: 1;
	min-height:400px;
	-webkit-transition: opacity 0.35s ease, z-index 0s ease 0s;
	   -moz-transition: opacity 0.35s ease, z-index 0s ease 0s;
		-ms-transition: opacity 0.35s ease, z-index 0s ease 0s;
		 -o-transition: opacity 0.35s ease, z-index 0s ease 0s;
			transition: opacity 0.35s ease, z-index 0s ease 0s;	
}


/* Graph buttons */
#graph-buttons {
	margin-top: 20px;
}
/***/

/********************************************************************************/
/* COMMON CLASSES
/********************************************************************************/


/********************************************************************************/




/********************************************************************************/
/* COMMON ELEMENTS
/********************************************************************************/

/* Help links */
.help-link {
	font-size: 1rem;
	vertical-align: middle;
}

/***/



/* Text */
.var {
	font-style: italic;
}
/***/

.tablinks{
width:45%

}



/* Form sub-headings */

/***/



/* Form fields */
.form-row {
	margin: 0 -10px;
}
.form-row:after {
	content: '';
	display: block;
	clear: both;
}
.form-field,
.form-field-2x {
	position: relative;
	margin-bottom: 15px;
	padding: 0 10px;
}
.form-field {
	width: 50%;
	float: left;
}

#parameters-form label {
	display: block;
	margin-bottom: 0.3333em;
	white-space: nowrap;
}
#parameters-form input {
	display: block;
	width: 100%;
	line-height: 32px;
}
#parameters-form input[type="text"],
#parameters-form input[type="edit"] {
	padding: 0 1em;
}
#parameters-form input[type="number"] {
	padding-left: 1em;
	padding-right: 1px;
}
/***/






.hint {
	display: block;
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 10px;
	min-height: 32px;
	margin-top: 10px;
	border-radius: 4px;
	padding: 0.5em 1em;
	white-space: nowrap;
	background: #FFCC80;
	color: #000;
	font-size: 11px;
	opacity: 0;
	-webkit-transition: all 0.2s ease 0s, z-index 0s ease 0.2s;
			transition: all 0.2s ease 0s, z-index 0s ease 0.2s;
	-webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
	   -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
			box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
}
.hint.r-hint {
	top: 0;
	left: 100%;
	margin-top: 0;
	margin-left: -4px;
}
.hint:after {
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	top: -5px;
	width: 0px;
	height: 0px;
	border-top: 0;
	border-bottom: 5px solid #FFCC80;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.hint.r-hint:after {
	left: -5px;
	top: 12px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #FFCC80;
	border-left: 0;
}
:hover > .hint {
	z-index: 99;
	opacity: 1;
	-webkit-transition: all 0.2s ease 0s, z-index 0s;
			transition: all 0.2s ease 0s, z-index 0s;
}





/***/



/* Custom select box */
.dataset-select {
	position: relative;
	z-index: 3;
	margin-bottom: 15px;
	padding: 8px 0;
	font-size: 0.9em;
}
.dataset-select > .dataset-select-toggle {
	float: right;
	padding-top: 0.25em;
}
.dataset-select > ul {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 0;
	padding-left: 0 !important;
	list-style: none !important;
	overflow: hidden;
	background: #fff;
	color: #000;
	-webkit-box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.25);
			box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.25);
}
.dataset-select.open-up > ul {
	top: auto;
	bottom: 100%;
}
.dataset-select.open > ul {
	height: auto;
	overflow: visible;
}

.dataset-select > ul > li {
	position: relative;
	padding: 8px 15px;
	text-indent: 0;
}
/*
.dataset-select > ul > li:first-child {
	margin-top: 8px;
}
.dataset-select > ul > li:last-child {
	margin-bottom: 8px;
}
*/
.dataset-select > ul > li:hover,
.dataset-select > ul > li.selected {
	background: #eee;
}
.dataset-select > ul > li > a {
	display: block;
}
/***/




.tab{
	margin: auto;
    width: 25%;
}

/* Buttons */
button {
	min-width: 100px;
	height: 3em;
	outline: 0;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}
.red-button {
	margin-bottom: 20px;
	background: #FF4136;
	color: #FFF;
}
/***/


/********************************************************************************/


